{% extends 'master.html' %}
{% block content %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">
        <div class="info d-flex align-items-center">
          <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-lg-10 text-center " >
                <h2 data-aos="fade-down"> <i class="bi bi-camera"></i> <span>National Institute Of Film Making</span></h2>
              </div>
            </div>
          </div>
        </div>
      
        <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
      
            {% comment %} <div class="carousel-item active" style="background-image: url(../static/img/hero-carousel/gallery-16.jpg)"></div>
            <div class="carousel-item" style="background-image: url(../static/img/hero-carousel/gallery-15.jpg)"></div>
            <div class="carousel-item" style="background-image: url(../static/img/hero-carousel/gallery-16.jpg)"></div>
            <div class="carousel-item" style="background-image: url(../static/img/hero-carousel/gallery-9.jpg)"></div>
            <div class="carousel-item" style="background-image: url(../static/img/hero-carousel/gallery-12.jpg)"></div> {% endcomment %}
            {% for image in up_sl_imgs %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}" style="background-image: url({{image.image.url}})"></div>
            {% endfor %}
        </div>
        
      
      </section><!-- End Hero Section -->
      
        <main id="main">
      
          <!-- ======= About Section ======= -->
          <section id="about" class="about">
            <div class="container" data-aos="fade-up">
      
              <div class="section-header">
                <!-- <h2>About Us</h2> -->
                <p>Learn More <span>About Us</span></p>
              </div>
      
              <div class="row gy-4">
                <!-- <div class="col-lg-7 position-relative about-img" style="background-image: url(../static/img/profile-img.jpg) ;" data-aos="fade-up" data-aos-delay="150">
                </div> -->
                <div class="col-lg-12 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                  <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                      Welcome to the National Institute of Film Making! We are a leading institution dedicated to nurturing the creative talents of aspiring filmmakers. With a rich history that spans over three years, we have been empowering students in the field of creative arts under our previous name, Indore Art Academy. Our institute is built on the belief of skill-based learning and providing hands-on experiences that enable our students to thrive in the competitive world of film making.
                    </p>
                    <div class="about-section">
                      <div class="content">
                        <p>
                        </p>
                          <div class="mission">
                              <h2>Mission</h2>
                              <p> Our mission at The National Institute of Film Making is to empower and inspire creative individuals to become skilled and successful filmmakers. We are dedicated to providing a dynamic learning environment that fosters artistic growth, technical proficiency, and a deep understanding of the filmmaking craft. Through hands-on experiences, industry-relevant curriculum, and a supportive community, we strive to equip our students with the knowledge, skills, and confidence necessary to thrive in the ever-evolving world of cinema.
                           </p>
                          </div>
                          <div class="vision">
                              <h2>Vision</h2>
                              <p>  Our vision is to be a leading institution for film education, recognized globally for producing talented and innovative filmmakers. We aim to create a vibrant and inclusive community of aspiring artists, where collaboration, diversity, and creative exploration are celebrated. By promoting a culture of excellence, professionalism, and ethical filmmaking practices, we aspire to shape the future of the film industry by nurturing a new generation of storytellers who will captivate audiences with their unique voices and perspectives. Our vision is to empower our graduates to make a significant impact in the world of cinema, enriching the art form and inspiring audiences worldwide.</p>
                          </div>
                      </div>
                   </div>
                  </div>
                </div>
              </div>
      
            </div>
          </section><!-- End About Section -->
      
          <!-- ======= Course Section ======= -->
          <section id="course" class="course section-bg">
            <div class="container" data-aos="fade-up">
      
              <div class="section-header">
                <p>Our <span>Certified</span> Courses</p>
              </div>
      
              <div class="row gy-4">
      
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                  <div class="course-member">
                    <div class="member-img">
                      <img src="../static/img/course/photography.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                      <h4>Photography</h4>
                      <span>2.5-Month Certification Course</span>
                      <p>Master the art of photography with our 2.5-month certification course. Covering composition, lighting, exposure, and post-processing, it's perfect for enthusiasts. Expert guidance and hands-on sessions teach you to capture captivating images that tell powerful stories. Whether you aim for a pro career or want to enhance skills, this course equips you with the knowledge and proficiency needed to excel. Unleash your creativity now.</p>
                      <div class="container">
                        <a class="btn-book-a-course" href="enquiry">Enquiry</a>
                      </div>
                    </div>
                  </div>
                </div><!-- End Course Member -->
      
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                  <div class="course-member">
                    <div class="member-img">
                      <img src="../static/img/course/Cinematography.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                      <h4>Cinematography</h4>
                      <span>2.5-Month Certification Course</span>
                      <p>Unleash your creativity and master cinematography in our 2.5-month course. Led by industry professionals, it covers camera operation, lighting, and visual storytelling for film and TV. With hands-on experience and professional equipment, you'll gain comprehensive skills to excel in this dynamic field. Discover the art and science behind capturing stunning visuals and bringing stories to life through practical exercises.</p>
                      <div class="container">
                        <a class="btn-book-a-course" href="enquiry">Enquiry</a>
                      </div>
                    </div>
                  </div>
                </div><!-- End Course Member -->
      
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="course-member">
                    <div class="member-img">
                      <img src="../static/img/course/editing.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                      <h4>Editing</h4>
                      <span>2.5-Month Certification Course</span>
                      <p>Discover the art of editing in our 2.5-month course. Learn to shape raw footage into compelling narratives through non-linear editing software apps and advanced techniques. Explore pacing, rhythm, and visual storytelling for immersive post-production. With expert guidance, work on real-world projects to hone your skills and develop a unique editing style. Unleash the power of post-production and unleash your creativity!</p>
                      <div class="container">
                        <a class="btn-book-a-course" href="enquiry">Enquiry</a>
                      </div>
                    </div>
                  </div>
                </div><!-- End Course Member -->
      
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                  <div class="course-member">
                    <div class="member-img">
                      <img src="../static/img/course/cedit.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                      <h4>Cinematography + Editing</h4>
                      <span>3.5-Month Certification Course</span>
                      <p>Embark on a comprehensive 3.5-month course that combines stunning visuals and powerful narratives. Master cinematography, editing, and post-production to excel in filmmaking. Explore camera operation, lighting, and visual storytelling while honing your editing skills. With an immersive learning experience, gain a holistic understanding of the filmmaking process and unleash your creativity to bring your visions to life.</p>
                      <div class="container">
                        <a class="btn-book-a-course" href="enquiry">Enquiry</a>
                      </div>
                    </div>
                  </div>
                </div><!-- End Course Member -->
      
              </div>
            </div>
          </section><!-- End Course Section -->
          
           <!-- ======= Work Section ======= -->
           <section id="work" class="work section-bg">
              <div class="section-header" >
                <p>Our <span>Work</span></p>
              </div>
      
              <div class="container" data-aos="fade-up">
      
                <div class="gallery-slider swiper">
                  <div class="swiper-wrapper align-items-center">
                    {% for image in mid_sl_imgs %}
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/img/gallery/gallery-1.jpg"><img src="{{image.image.url}}" class="img-fluid" alt=""></a></div>
                    {% endfor %}
                    {% comment %} <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/img/gallery/gallery-1.jpg"><img src="../static/img/gallery/gallery-1.jpg" class="img-fluid" alt=""></a></div> {% endcomment %}
                    {% comment %} <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/img/gallery/gallery-2.jpg"><img src="../static/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a></div> {% endcomment %}
                    {% comment %} <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/img/gallery/gallery-3.jpg"><img src="../static/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a></div> {% endcomment %}
                    {% comment %} <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/img/gallery/gallery-4.jpg"><img src="../static/img/gallery/gallery-4.jpg" class="img-fluid" alt=""></a></div> {% endcomment %}
                    {% comment %} <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/img/gallery/gallery-5.jpg"><img src="../static/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a></div> {% endcomment %}
                    {% comment %} <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/img/gallery/gallery-6.jpg"><img src="../static/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a></div> {% endcomment %}
                    {% comment %} <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/img/gallery/gallery-7.jpg"><img src="../static/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div> {% endcomment %}
                    {% comment %} <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="../static/img/gallery/gallery-8.jpg"><img src="../static/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div> {% endcomment %}
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
            
              </div>
      
                <div class="container-xxl py-5" >
                    <div class="container">
                        <div class="row g-3">
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="project-item">
                                            <img class="img-fluid" src="{% if memory_img %}{{memory_img.first.image.url}}{% else %}../static/img/pzone/project-5.jpg{% endif %}" alt="">
                                            <a class="project-title h5 mb-0" href="{% url "image_view" 'memory' %}" data-lightbox="project">
                                                Memory
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="project-item">
                                            <img class="img-fluid" src="{% if wedding_img %}{{wedding_img.first.image.url}}{% else %}../static/img/pzone/project-1.jpg{% endif %}" alt="">
                                            <a class="project-title h5 mb-0" href="{% url "image_view" 'wedding' %}" data-lightbox="project">
                                                Wedding
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="project-item">
                                            <img class="img-fluid" src="{% if portrait_img %}{{portrait_img.first.image.url}}{% else %}../static/img/pzone/project-2.jpg{% endif %}" alt="">
                                            <a class="project-title h5 mb-0" href="{% url "image_view" 'portrait' %}" data-lightbox="project">
                                                Portrait
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="project-item">
                                            <img class="img-fluid" src="{% if travel_img %}{{travel_img.first.image.url}}{% else %}../static/img/pzone/project-6.jpg{% endif %}" alt="">
                                            <a class="project-title h5 mb-0" href="{% url "image_view" 'travel' %}" data-lightbox="project">
                                                Travel
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="project-item">
                                            <img class="img-fluid" src="{% if wedding_img %}{{wedding_img.last.image.url}}{% else %}../static/img/pzone/project-7.jpg{% endif %}" alt="">
                                            <a class="project-title h5 mb-0" href="{% url "image_view" 'wedding' %}" data-lightbox="project">
                                                Wedding
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="project-item">
                                            <img class="img-fluid" src="{% if memory_img %}{{memory_img.last.image.url}}{% else %}../static/img/pzone/project-3.jpg{% endif %}" alt="">
                                            <a class="project-title h5 mb-0" href="{% url "image_view" 'memory' %}" data-lightbox="project">    
                                                Memory
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="project-item">
                                            <img class="img-fluid" src="{% if fashion_img %}{{fashion_img.first.image.url}}{% else %}../static/img/pzone/project-4.jpg{% endif %}" alt="">
                                            <a class="project-title h5 mb-0" href="{% url "image_view" 'fashion' %}" data-lightbox="project">
                                                Fashion
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="project-item">
                                            <img class="img-fluid" src="{% if portrait_img %}{{portrait_img.last.image.url}}{% else %}../static/img/pzone/project-8.jpg{% endif %}" alt="">
                                            <a class="project-title h5 mb-0" href="{% url "image_view" 'portrait' %}" data-lightbox="project">
                                                Portrait
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </section><!-- End Work Section -->
      
          <!-- ======= Why Us Section ======= -->
          <section id="why-us" class="why-us section-bg">
            <div class="container" data-aos="fade-up">
      
              <div class="row gy-4">
      
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                  <div class="why-box">
                    <h3>Why Choose NIFM?</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                      Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                    </p>
                    <div class="text-center">
                      <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                    </div>
                  </div>
                </div><!-- End Why Box -->
      
                <div class="col-lg-8 d-flex align-items-center">
                  <div class="row gy-4">
      
                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                      <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-clipboard-data"></i>
                        <h4>Corporis voluptates officia eiusmod</h4>
                        <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                      </div>
                    </div><!-- End Icon Box -->
      
                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                      <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-gem"></i>
                        <h4>Ullamco laboris ladore pan</h4>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                      </div>
                    </div><!-- End Icon Box -->
      
                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                      <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-inboxes"></i>
                        <h4>Labore consequatur incidid dolore</h4>
                        <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                      </div>
                    </div><!-- End Icon Box -->
      
                  </div>
                </div>
      
              </div>
      
            </div>
          </section><!-- End Why Us Section -->
      
        
      
      
          <!-- ======= Testimonials Section ======= -->
          <section id="testimonials" class="testimonials section-bg">
            <div class="container" data-aos="fade-up">
      
              <div class="section-header">
                <h2>Testimonials</h2>
                <p>What Are They <span>Saying About Us</span></p>
              </div>
      
              <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
      
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="row gy-4 justify-content-center">
                        <div class="col-lg-6">
                          <div class="testimonial-content">
                            <p>
                              <i class="bi bi-quote quote-icon-left"></i>
                              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                              <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <div class="stars">
                              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-2 text-center">
                          <img src="../static/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
                        </div>
                      </div>
                    </div>
                  </div><!-- End testimonial item -->
      
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="row gy-4 justify-content-center">
                        <div class="col-lg-6">
                          <div class="testimonial-content">
                            <p>
                              <i class="bi bi-quote quote-icon-left"></i>
                              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                              <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                            <div class="stars">
                              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-2 text-center">
                          <img src="../static/img/testimonials/testimonials-2.jpg" class="img-fluid testimonial-img" alt="">
                        </div>
                      </div>
                    </div>
                  </div><!-- End testimonial item -->
      
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="row gy-4 justify-content-center">
                        <div class="col-lg-6">
                          <div class="testimonial-content">
                            <p>
                              <i class="bi bi-quote quote-icon-left"></i>
                              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                              <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <div class="stars">
                              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-2 text-center">
                          <img src="../static/img/testimonials/testimonials-3.jpg" class="img-fluid testimonial-img" alt="">
                        </div>
                      </div>
                    </div>
                  </div><!-- End testimonial item -->
      
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="row gy-4 justify-content-center">
                        <div class="col-lg-6">
                          <div class="testimonial-content">
                            <p>
                              <i class="bi bi-quote quote-icon-left"></i>
                              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                              <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <div class="stars">
                              <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-2 text-center">
                          <img src="../static/img/testimonials/testimonials-4.jpg" class="img-fluid testimonial-img" alt="">
                        </div>
                      </div>
                    </div>
                  </div><!-- End testimonial item -->
      
                </div>
                <div class="swiper-pagination"></div>
              </div>
      
            </div>
          </section><!-- End Testimonials Section -->
      
          <!-- ======= Events Section ======= -->
          <section id="events" class="events">
            <div class="container-fluid" data-aos="fade-up">
      
              <div class="section-header">
                <h2>Events</h2>
                <p>Share <span>Your Moments</span> With Us </p>
              </div>
      
              <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
      
                  <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(../static/img/events-1.jpg)">
                    <h3>Custom Parties</h3>
                  </div><!-- End Event item -->
      
                  <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(../static/img/events-2.jpg)">
                    <h3>Private Parties</h3>
                  </div><!-- End Event item -->
      
                  <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(../static/img/events-3.jpg)">
                    <h3>Birthday Parties</h3>
                  </div><!-- End Event item -->
      
                </div>
                <div class="swiper-pagination"></div>
              </div>
      
            </div>
          </section><!-- End Events Section -->
      
      
          <!-- ======= Contact Section ======= -->
          <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
      
              <div class="section-header">
                <p>Need Help?</p>
                <p>Contact US!<span>The National Institute of Film Making</span></p>
              </div>
      
              <div class="mb-3">
                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3681.225422996861!2d75.85450687481881!3d22.68265077941343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2s!5e0!3m2!1sen!2sin!4v1690464711480!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
              </div><!-- End Google Maps -->
      
              <div class="row gy-4">
      
                <div class="col-md-6">
                  <div class="info-item  d-flex align-items-center">
                    <i class="icon bi bi-map flex-shrink-0"></i>
                    <div>
                      <h3>Location:</h3>
                      <p>
                        4 th floor Tower 61, Rajiv Gandhi Circle, above, Tata Moters <br>
                        Indore, Madhya Pradesh 452001<br>
                      </p>
                    </div>
                  </div>
                </div><!-- End Info Item -->
      
                <div class="col-md-6">
                  <div class="info-item d-flex align-items-center">
                    <i class="icon bi bi-envelope flex-shrink-0"></i>
                    <div>
                      <h3>Email Us</h3>
                      <p>Info@tnifm.com</p>
                    </div>
                  </div>
                </div><!-- End Info Item -->
      
                <div class="col-md-6">
                  <div class="info-item  d-flex align-items-center">
                    <i class="icon bi bi-telephone flex-shrink-0"></i>
                    <div>
                      <h3>Call Us</h3>
                      <p>+9 1882 77405 00</p>
                    </div>
                  </div>
                </div><!-- End Info Item -->
      
                <div class="col-md-6">
                  <div class="info-item  d-flex align-items-center">
                    <i class="icon bi bi-share flex-shrink-0"></i>
                    <div>
                      <h3>Opening Hours</h3>
                      <div><strong>Mon-Sat:</strong> 11AM - 23PM;
                        <strong>Sunday:</strong> Closed
                      </div>
                    </div>
                  </div>
                </div><!-- End Info Item -->
      
              </div>
              <h5 style="color:black;font-weight: bold">{{msg}}</h5>
              <section id="form"></section>
              <form action="contact_form" method="POST"  class="php-email-form p-3 p-md-4">
                {% csrf_token %}
                <div class="row">
                  <div class="col-xl-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-xl-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Contact No." required>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="subject" rows="5" placeholder="subject" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
                
              </form><!--End Contact Form -->
      
            </div>
          </section><!-- End Contact Section -->
      
{% endblock %}